

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#pharmacy-photo {
	width:350px;
	height:350px;
}

.row-bottom-margin {
	margin-bottom:75px;
}

.padding-col {
	padding:40px;
}

.padding-col-small {
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:20px;
}


body {
	background-color: #eee;
}

hr {
	    border-top: 1px solid #000;
}

.main-query, .main-selector {
	margin-right:25px;
	display:inline-block;
}

#view-existing-container, #create-new-container, #add-to-existing-container {
	display:none;
}

.view-sales-button {
	width:100%;
}

#spreadsheet-sales {
	margin-top:25px;
}